.navbar-main{
  margin-left: 0px !important;
}

/** rating **/
div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 20px;
  color: 
#444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: "*";
  color: #e74c3c;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #e74c3c;
  text-shadow: 0 0 5px #7f8c8d;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '*';
  font-family: FontAwesome;
}


.horline > li:not(:last-child):after {
    content: " |";
}
.horline > li {
  font-weight: bold;
  color: 
#ff7e1a;

}
/** end rating **/

/* Dropdown Button */

.dropbtn {
    background-color: #333;
    color: white;
    font-size: 14px;
    border: none;
}
  
  /* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(230, 230, 230);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #333
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #333 !important;
    padding: 12px 16px;
    width: 92%;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

  /* Notification */
  .notification {
    position: relative;
    display: inline-block;
  }

  .notification-content {
    display: none;
    position: absolute;
    background-color: rgb(230, 230, 230);
    min-width: 100px;
    z-index: 1;
  }

  #notification-normal{
      fill:rgb(248, 248, 248);
    }

  #notification-fill{
    fill:red;
    }
  /* The container <div> - needed to position the dropdown content */
  
  /* Change color of dropdown links on hover */
  /* .notification:hover .notification-content {display: block;} */
  /* Show the dropdown menu on hover */
  /* .notification:hover {background-color: #3e8e41;}  */
  .notification:hover {transform: scale(1.2);}